.nav-bar {
    width: 100%;
    height: 70px;
    background-color: lightcoral;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.welcome {
    color: white;
}

.menu {
    display: flex;
    align-items: center;
}

img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.options {
    position: absolute;
    background-color: lightblue;
    top: 70px;
    right: 0;
    width: 300px;
    padding: 10px;
}

.options p {
    text-decoration: underline;
    cursor: pointer;
}

.options p:first-child {
    margin-bottom: 5px;
}
