<div class="login-page-container">
    <div class="form-container">
        <span class="title">Reserva Veículos</span>
        <form (ngSubmit)="onSubmit()">
            <input type="text" placeholder="nome" [(ngModel)]="name" name="name" *ngIf="routerUrl === '/cadastro'" required/>
            <input type="text" placeholder="email" [(ngModel)]="email" name="email" required />
            <input type="password" placeholder="senha" [(ngModel)]="password" name="password" required />
            <button>{{ routerUrl === "/" ? "Entrar" : "Cadastrar" }}</button>
        </form>
        <p [routerLink]="[routerUrl === '/' ? '/cadastro' : '/']">{{ routerUrl === "/" ? "Não se cadastrou? Cadastre-se aqui" : "Já possui um cadastro? Faça login" }}</p>
    </div>
</div>